Package: com.sh0rtflow.superslam12
Name: Superslam12
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Make John Cena appear with activator.
Maintainer: sh0rtflow
Author: sh0rtflow
Section: Tweaks
